<div id="footer ">
    <div class="barra "></div>
    <div class="superior container">
        <div class="izquierda">
            <div>
                <h2 class="mt-3">Nosotros</h2>
            </div>
            <div>
                <p>texto de presentacion </p>
            </div>
            <div>
                <img src="../../../assets/logo/LOGO FINAL.png" alt="" width="98" height="45">
            </div>
        </div>
        <div class="centro">
            <div>
                <h2 class="mt-3">Comentanos</h2>
            </div>
            <div class="row">
                <div class="mb-3 nombre">
                    <input type="text" class="form-control ml-2" placeholder="NOMBRE*" aria-label="First name">
                </div>
                <div class="mb-3 email">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="EMAIL*">
                </div>
                <div class="mb-3 mensaje">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="MENSAJE"></textarea>
                </div>
                <div class="text-left">
                    <button type="button" class="btn btn-outline-warning">Warning</button>
                </div>
            </div>
        </div>
        <div class="derecha">
            <div>
                <h2 class="mt-3">Perfiles</h2>
            </div>
            <div>
                <div class="redes mt-3">
                    <i class="fas fa-envelope mt-1"></i>
                    <p>latinoscomedy@gmail.com</p>
                </div>
                <div class="redes">
                    <i class="fab fa-facebook mt-1"></i>
                    <p>latinoscomedy</p>
                </div>
                <div class="redes">
                    <i class="fab fa-instagram mt-1"></i>
                    <p>latinos_comedy</p>
                </div>
                <div class="redes">
                    <i class="fab fa-youtube mt-1"></i>
                    <p>latinoscomedy</p>
                </div>
            </div>
        </div>
    </div>
    <div class="inferior text-center p-3">
        LATINOSCOMEDY. All rights reserved. 2021
    </div>
</div>