<div class="row">
    <div class="col-md-12">
        <div class="banner">
            <app-banner></app-banner>
        </div>
    </div>
    <div class="col-md-12 container">
        <div class="slideVideos">
            <app-videos-carrusel></app-videos-carrusel>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tiraVerde">
            <app-imagenpublicidad></app-imagenpublicidad>
        </div>
    </div>
    <div class="col-md-12">
        <div class="slideArtistas">
            <app-artistascarrusel></app-artistascarrusel>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tiraBlanca">
            <app-imagencanales></app-imagencanales>
        </div>
    </div>

</div>
<!--

<div class=" contenedor ">
    <div class="row">
        <div class="col-md-12 mt-3">
            <h2 class="">Paises</h2>
        </div>

        <div class="col-md-12 mt-3 curr">
            <ul *ngFor="let pais of paises">
                <li>
                    <p (click)="onPaisClick( pais )"> {{ pais }}</p>
                </li>
            </ul>
        </div>

    </div>
</div> -->