/* You can add global styles to this file, and also import other style files */


/* FUENTES */

font-face {
    font-family: "dosis";
    src: url("/src/app/fonts/dosis/Dosis-Medium.ttf");
    src: url("/src/app/fonts/dosis/Dosis-Medium.ttf#iefix") format("embedded-opentype");
}

body {
    background: rgb(0, 0, 0);
    /*  background: url("../src/assets/imgExtras/pattern.png"); */
}

* {
    text-decoration: none;
}

html,
body {
    height: 100%;
    margin: 0%;
}